h1 {
    color: purple;
    text-align: center;
    font-family: circular-spotify-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16-px;

  }
  h2 {
    color: black;
    text-align: center;
    font-family: circular-spotify-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16-px;

  }


.pp {
    width: 70%;
}


@keyframes nudge {
    0% {
       transform: translateY(1000%);


    }
    50% {
        transform: scale(2, 2);
    }

    100% {
        transform: translateY(-60%);
    }
}